@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Neucha');

nav a {
    font: 16px SansSerif;
    color: #0b06e2
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.dot {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#dot {
    font-family: 'Neucha', cursive;
    font-size: 30px;
}

